/**
 * Copyright ou © ou Copr. Ministère de l'Europe et des Affaires étrangères (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * Ce logiciel est un programme informatique servant à faciliter la création
 * d'applications Web conforémement aux référentiels généraux français : RGI, RGS et RGAA
 * <p/>
 * Ce logiciel est régi par la licence CeCILL soumise au droit français et
 * respectant les principes de diffusion des logiciels libres. Vous pouvez
 * utiliser, modifier et/ou redistribuer ce programme sous les conditions
 * de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA
 * sur le site "http://www.cecill.info".
 * <p/>
 * En contrepartie de l'accessibilité au code source et des droits de copie,
 * de modification et de redistribution accordés par cette licence, il n'est
 * offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
 * seule une responsabilité restreinte pèse sur l'auteur du programme,  le
 * titulaire des droits patrimoniaux et les concédants successifs.
 * <p/>
 * A cet égard  l'attention de l'utilisateur est attirée sur les risques
 * associés au chargement,  à l'utilisation,  à la modification et/ou au
 * développement et à la reproduction du logiciel par l'utilisateur étant
 * donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 * manipuler et qui le réserve donc à des développeurs et des professionnels
 * avertis possédant  des  connaissances  informatiques approfondies.  Les
 * utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
 * logiciel à leurs besoins dans des conditions permettant d'assurer la
 * sécurité de leurs systèmes et ou de leurs données et, plus généralement,
 * à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.
 * <p/>
 * Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 * pris connaissance de la licence CeCILL, et que vous en avez accepté les
 * termes.
 * <p/>
 * <p/>
 * Copyright or © or Copr. Ministry for Europe and Foreign Affairs (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * This software is a computer program whose purpose is to facilitate creation of
 * web application in accordance with french general repositories : RGI, RGS and RGAA.
 * <p/>
 * This software is governed by the CeCILL license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 * <p/>
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 * <p/>
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 * <p/>
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL license and that you accept its terms.
 *
 */


/**
 * hornet-themes-intranet - Thème Hornet.js
 *
 * @author MEAE - Ministère de l'Europe et des Affaires étrangères
 * @version v5.2.4
 * @link git+https://github.com/diplomatiegouvfr/hornet-themes-intranet.git
 * @license CECILL-2.1
 */

.language {
    position: relative;
    /* la position est relative par rapport a la popin de choix de langue*/
    text-decoration: none;
    color: #FFF;
    font-family: NotoSansUI-Regular;
    font-size: 1em;
    cursor: pointer;
}

.language>a {
    color: #FFF;
    padding: 0 .3em 0 .3em;
}


/*.dropdown-container.language .dropdown-content {
    top: 2.2em;
    right: -0.5em;
}*/

.current-language {
    overflow: hidden;
    padding: 0 0.2em;
}

.current-language:focus {
    outline: #FFF solid 1px;
}

.language-arrow-down {
    background: transparent url("../img/dropdown/ic_keyboard_arrow_down_white_24px.svg") no-repeat scroll left top;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.dropdown-language {
    display: none;
    position: absolute;
    width: 10em;
    height: auto;
    top: 2.188em;
    right: - 5 px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.45);
    padding: 1em;
    color: #232425;
}

.dropdown-language:before {
    content: '';
    position: absolute;
    top: -0.43em;
    right: 0.5em;
    background: #fff;
    width: 1em;
    height: 1em;
    z-index: 2;
    transform: rotate(45deg);
}

.dropdown-language .ulLang {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.dropdown-language.isOpen {
    display: block;
    position: absolute;
    right: 0em;
}

.dropdown-language.isOpen .itemLang {
    list-style-type: none;
    text-align: center;
}

.dropdown-language a {
    color: #232425;
    width: 100%;
    display: inline-block;
    padding: 11px 25px 11px 25px;
    cursor: pointer;
}

.dropdown-language.isOpen .itemLang:focus {
    outline: #0579be solid 1px;
}

.dropdown-language.isOpen .itemLang:hover {
    color: #ffffff;
    /* font-weight: bold;*/
    background-color: #0579be;
}

.dropdown-language.isOpen .itemLang:hover a {
    color: #ffffff;
}