/**
 * Copyright ou © ou Copr. Ministère de l'Europe et des Affaires étrangères (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * Ce logiciel est un programme informatique servant à faciliter la création
 * d'applications Web conforémement aux référentiels généraux français : RGI, RGS et RGAA
 * <p/>
 * Ce logiciel est régi par la licence CeCILL soumise au droit français et
 * respectant les principes de diffusion des logiciels libres. Vous pouvez
 * utiliser, modifier et/ou redistribuer ce programme sous les conditions
 * de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA
 * sur le site "http://www.cecill.info".
 * <p/>
 * En contrepartie de l'accessibilité au code source et des droits de copie,
 * de modification et de redistribution accordés par cette licence, il n'est
 * offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
 * seule une responsabilité restreinte pèse sur l'auteur du programme,  le
 * titulaire des droits patrimoniaux et les concédants successifs.
 * <p/>
 * A cet égard  l'attention de l'utilisateur est attirée sur les risques
 * associés au chargement,  à l'utilisation,  à la modification et/ou au
 * développement et à la reproduction du logiciel par l'utilisateur étant
 * donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 * manipuler et qui le réserve donc à des développeurs et des professionnels
 * avertis possédant  des  connaissances  informatiques approfondies.  Les
 * utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
 * logiciel à leurs besoins dans des conditions permettant d'assurer la
 * sécurité de leurs systèmes et ou de leurs données et, plus généralement,
 * à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.
 * <p/>
 * Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 * pris connaissance de la licence CeCILL, et que vous en avez accepté les
 * termes.
 * <p/>
 * <p/>
 * Copyright or © or Copr. Ministry for Europe and Foreign Affairs (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * This software is a computer program whose purpose is to facilitate creation of
 * web application in accordance with french general repositories : RGI, RGS and RGAA.
 * <p/>
 * This software is governed by the CeCILL license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 * <p/>
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 * <p/>
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 * <p/>
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL license and that you accept its terms.
 *
 */


/**
 * hornet-themes-intranet - Thème Hornet.js
 *
 * @author MEAE - Ministère de l'Europe et des Affaires étrangères
 * @version v5.2.4
 * @link git+https://github.com/diplomatiegouvfr/hornet-themes-intranet.git
 * @license CECILL-2.1
 */

.form-content {
    background-color: #f4f4f4;
    border-radius: 0.3em;
    /* padding-left: 1.875em;
     padding-top: 1.188em;
     padding-bottom : 1.875em;*/
    margin: 0.875em
}

.form-soustitre {
    color: #0579be;
    font-size: 1.0625em;
    padding-top: 0.875em;
}

.form-titles {
    padding: 0.875em 0.875em 0 0.875em;
}

.form {
    background-color: #f4f4f4;
}

.form-table {
    background: none;
    margin: -0.875em;
    /* pour ecraser le magin de la classe form-content */
}

.form-container {
    font-size: 1em;
    font-family: NotoSansUI-Regular;
}

span.label-required {
    color: #d60000;
    padding-left: 0.313em;
}

p.discret {
    font-style: italic;
    color: #666666;
}


/**
checkbox
****/

.checkbox-container.readonly span.checkbox-material{
    cursor: auto;
}

.checkbox-container {
    padding: 0em 1.25em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

label.checkbox-content {
    cursor: pointer;
    margin-top: .7em;
}

.checkbox-content input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.checkbox-content .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 0.1875em;
}

.checkbox-content .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.125em;
    overflow: hidden;
    z-index: 1;
    padding: 0.125em 0 0 0.125em;
    background-color: white;
}

label.checkbox-content input:focus+.checkbox-material .check {
    outline: #4D90FE solid 1px;
}

.checkbox-content .checkbox-material:before {
    position: absolute;
    left: 0.5em;
    top: 0.125em;
    content: "";
    width: 0.25em;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
}

.checkbox-content .checkbox-material .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -0.25em;
    margin-left: 0.375em;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    /*color:#0579be;
    -webkit-animation: checkbox-off 0.3s forwards ease-out;
            animation: checkbox-off 0.3s forwards ease-out; */
}

.checkbox-content input[type=checkbox]:checked+.checkbox-material .check {
    color: #0579be;
}

.checkbox-content input[type=checkbox]:not(:checked)+.checkbox-material .check {
    border: 1px solid;
}

.checkbox-content input[type=checkbox]:disabled:checked+.checkbox-material .check {
    color: #7a7a7a;
}

.checkbox-material .check.readonly, .checkbox-material .check.disabled {
    background-color: rgb(235, 235, 228);
    color: #7a7a7a;
    cursor: default;
}

.abstractfield-container.readonly .label-container .label-content .label-required, .form.clear.readonly .form-titles .discret {
    display:none;
}

.checkbox-content input[type=checkbox]:focus+.checkbox-material .check:after {
    opacity: 0.2;
}

.checkbox-content input[type=checkbox]:checked+.checkbox-material .check:before {
    box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em -10.125em 0 0.6875em;
    -webkit-animation: checkbox-on 0.3s forwards ease-out;
    animation: checkbox-on 0.3s forwards ease-out;
}

.checkbox-content input[type=checkbox]:not(:checked)+.checkbox-material:before {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.checkbox-content input[type=checkbox]:checked+.checkbox-material:before {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.checkbox-content input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.checkbox-content input[type=checkbox]:checked+.checkbox-material .check:after {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.checkbox-content input[type=checkbox][disabled]:not(:checked)~.checkbox-material .check:before,
.checkbox-content input[type=checkbox][disabled]+.circle {
    opacity: 0.5;
}

.checkbox-content input[type=checkbox][disabled]+.checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox-content input[type=checkbox]:not(:checked)+.checkbox-material .check.has-error {
    border-color:#e6151d;
    background-color: #fed8da;
}

.label-container.label-row-inline.label-margin-right {
    margin-right: 2.125em;
}

@-webkit-keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 0.9375em 0.125em 0 0.6875em;
    }
    50% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em 0.125em 0 0.6875em;
    }
    100% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em -10.125em 0 0.6875em;
    }
}

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 0.9375em 0.125em 0 0.6875em;
    }
    50% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em 0.125em 0 0.6875em;
    }
    100% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em -10.125em 0 0.6875em;
    }
}

@-webkit-keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em -10.125em 0 0.6875em, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em -10.125em 0 0.6875em, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -0.25em;
        margin-left: 0.375em;
        width: 0em;
        height: 0em;
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 0.9375em 0.125em 0 0.6875em, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -0.125em;
        margin-left: -0.125em;
        width: 1.25em;
        height: 1.25em;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0em 0em 0 0.625em inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -0.125em;
        margin-left: -0.125em;
        width: 1.25em;
        height: 1.25em;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0em 0em 0 0em inset;
    }
}

@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em -10.125em 0 0.6875em, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 1.25em -10.125em 0 0.6875em, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -0.25em;
        margin-left: 0.375em;
        width: 0em;
        height: 0em;
        box-shadow: 0 0 0 0.625em, 0.625em -0.625em 0 0.625em, 2em 0em 0 1.25em, 0em 2em 0 1.25em, -0.3125em 0.3125em 0 0.625em, 0.9375em 0.125em 0 0.6875em, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -0.125em;
        margin-left: -0.125em;
        width: 1.25em;
        height: 1.25em;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0em 0em 0 0.625em inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -0.125em;
        margin-left: -0.125em;
        width: 1.25em;
        height: 1.25em;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0em 0em 0 0em inset;
    }
}

@-webkit-keyframes rippleOn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@-webkit-keyframes rippleOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@media (max-width: 405px) {
    .form-titles,
    .form-content {
        /* padding-left: 0.7em;*/
    }
    .checkbox-container {
        padding: 0 0 0 0.625em;
    }
}

.checkbox-container.inline {
    padding-top: 0em;
}

.checkbox-container.inline div.checkbox-container {
    padding-top: 0em;
}

.switch-input:focus+.switch-label {
    box-shadow: 0 0 0 1.5pt #4D90FE;
    outline: none;
}

.grid-2.fraction>.abstractfield-container>.label-row-inline {
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 75%;
    width: 75%;
}

.grid-3.fraction>.abstractfield-container>.label-row-inline {
    word-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 63%;
    width: 63%;
}