.widget-alert-body {
    padding: .5em 5em 1em 5em;
}

.widget-dialogue-header {
    padding: 0 10px;
    font-size: 120%;
    line-height: 2;
    color: #fff;
    background-color: #007ba7;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
}

.widget-dialogue-title {

}

.widget-dialogue-close {
    position: absolute;
    top: 2px;
    right: 1px;
}

.widget-dialogue-body {
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 5px 5px;
    outline: 0;
    position: relative;
    line-height: 1.428571429;
    padding: 1em;
}

.widget-dialogue-footer {
    padding: 3px;
    text-align: right;
}

.widget-dialogue-close .hornet-dialogue-croix {
    box-shadow: none;
}

.hornet-button.hornet-dialogue-croix:focus {
    background: none repeat scroll 0 0 #fff;
    color: #044ca0 !important;
    font-weight: 400;
}

.widget-spinner-body {
    padding: 5em;
    text-align: center;
}

.widget-spinner-content{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 200%;
    padding-bottom: 20px;
}