/**
 * Copyright ou © ou Copr. Ministère de l'Europe et des Affaires étrangères (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * Ce logiciel est un programme informatique servant à faciliter la création
 * d'applications Web conforémement aux référentiels généraux français : RGI, RGS et RGAA
 * <p/>
 * Ce logiciel est régi par la licence CeCILL soumise au droit français et
 * respectant les principes de diffusion des logiciels libres. Vous pouvez
 * utiliser, modifier et/ou redistribuer ce programme sous les conditions
 * de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA
 * sur le site "http://www.cecill.info".
 * <p/>
 * En contrepartie de l'accessibilité au code source et des droits de copie,
 * de modification et de redistribution accordés par cette licence, il n'est
 * offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
 * seule une responsabilité restreinte pèse sur l'auteur du programme,  le
 * titulaire des droits patrimoniaux et les concédants successifs.
 * <p/>
 * A cet égard  l'attention de l'utilisateur est attirée sur les risques
 * associés au chargement,  à l'utilisation,  à la modification et/ou au
 * développement et à la reproduction du logiciel par l'utilisateur étant
 * donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 * manipuler et qui le réserve donc à des développeurs et des professionnels
 * avertis possédant  des  connaissances  informatiques approfondies.  Les
 * utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
 * logiciel à leurs besoins dans des conditions permettant d'assurer la
 * sécurité de leurs systèmes et ou de leurs données et, plus généralement,
 * à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.
 * <p/>
 * Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 * pris connaissance de la licence CeCILL, et que vous en avez accepté les
 * termes.
 * <p/>
 * <p/>
 * Copyright or © or Copr. Ministry for Europe and Foreign Affairs (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * This software is a computer program whose purpose is to facilitate creation of
 * web application in accordance with french general repositories : RGI, RGS and RGAA.
 * <p/>
 * This software is governed by the CeCILL license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 * <p/>
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 * <p/>
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 * <p/>
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL license and that you accept its terms.
 *
 */


/**
 * hornet-themes-intranet - Thème Hornet.js
 *
 * @author MEAE - Ministère de l'Europe et des Affaires étrangères
 * @version v5.2.4
 * @link git+https://github.com/diplomatiegouvfr/hornet-themes-intranet.git
 * @license CECILL-2.1
 */

.error-message {
    border: 0.063em solid #e6151d;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.error-message-title {
    font-style: italic;
    color: #e6151d;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    font-weight: lighter;
    text-transform: none;
    background-image: url('../img/notification/ic_warning_red_24px.svg');
    background-repeat: no-repeat;
    padding-left: 1.875em;
    display: block;
    font-family: NotoSansUI-Bold;
}

.error-message-list {
    font-style: italic;
    color: #e6151d;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    list-style: outside none none;
    padding-left: 3em;
}

.error-message-text {
    font-style: italic;
    color: #e6151d;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
}

.error-message-text:hover {
    color: #e6151d;
}

.warning-message {
    border: 0.063em solid darkorange;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.warning-message-title {
    font-style: italic;
    color: darkorange;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    font-weight: lighter;
    text-transform: none;
    background-image: url('../img/notification/ic_warning_black_24px.svg');
    background-repeat: no-repeat;
    padding-left: 1.875em;
    display: block;
    font-family: NotoSansUI-Bold;
}

.warning-message-list {
    font-style: italic;
    color: darkorange;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    list-style: outside none none;
    padding-left: 3em;
}

.warning-message-text {
    font-style: italic;
    color: darkorange;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
}

.info-message {
    border: 0.063em solid green;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.info-message-title {
    font-style: italic;
    color: green;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    font-weight: lighter;
    text-transform: none;
    background-image: url('../img/notification/ic_check_circle_black_24px.svg');
    background-repeat: no-repeat;
    padding-left: 1.875em;
    display: block;
    font-family: NotoSansUI-Bold;
}

.info-message-list {
    font-style: italic;
    color: green;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    list-style: outside none none;
    padding-left: 3em;
}

.info-message-text {
    font-style: italic;
    color: green;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
}

.personnal-message {
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.personnal-message-title {
    font-style: italic;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    font-weight: lighter;
    text-transform: none;
    background-repeat: no-repeat;
    padding-left: 1.875em;
    display: block;
    font-family: NotoSansUI-Bold;
}

.personnal-message-list {
    font-style: italic;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    list-style: outside none none;
    padding-left: 3em;
}

.personnal-message-text {
    font-style: italic;
    font-size: 1em;
    font-family: NotoSansUI-Regular;
}

.stack-dev {
    margin: 1em 0 0 1em;
}

.stack-dev-title {
    font-size: 1.5em;
}

.stack-dev-line {
    margin-left: 2em;
}

.error-button-open {
    border: none;
    background: url("../img/notification/icon_fleche_expand_open.svg") transparent;
    background-repeat: no-repeat;
    height: 1.625em;
    width: 1.625em;
    float: right;
    font-size: 1em;
    cursor: pointer;
}

.error-button-close {
    border: none;
    background: url("../img/notification/icon_fleche_expand_close.svg") transparent;
    background-repeat: no-repeat;
    height: 1.625em;
    width: 1.625em;
    float: right;
    font-size: 1em;
    cursor: pointer;
}

.error-message-list.close,
.personnal-message-list.close,
.warning-message-list.close {
    display: none;
}

.info-button {
    border: none;
    background: url("../img/notification/ico_notification_close.svg") transparent;
    background-repeat: no-repeat;
    height: 1.625em;
    width: 1.625em;
    float: right;
    cursor: pointer;
}

.notification-timeout {
    position: fixed;
    right: 0;
    bottom: 4.2em;
    line-height: 2em;
    background: white;
    padding: 0.5em;
    color: #2e586e;
    font-family: "NotoSansUI-Bold";
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.45);
}

.notification-expanded {
    -webkit-transition: width 1s;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    opacity: 1;
    padding-top: 0.5em;
}

.notification-reduced {
    width: 0;
    opacity: 0;
    height: 0;
    font-size: 1em;
}

.notification-timeout .notification-session-message div {
    line-height: 1.2em
}

.notification-timeout .notification-session-message div a {
    cursor: pointer;
}

.notification-idp-timeout {
    position: fixed;
    right: 41%;
    top: 7.5em;
    line-height: 2em;
    background: white;
    padding: 0.5em;
    color: #2e586e;
    font-family: roboto;
    box-shadow: 0 0.3em 0.3em rgba(0, 0, 0, 0.45);
    background-color: #f5f5f5;
    width: 20em;
    font-size: 1em;
}

.notification-idp-expanded {
    -webkit-transition: width 1s;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    opacity: 1;
    padding-top: 0.5em;
}

.notification-idp-reduced {
    width: 0;
    opacity: 0;
    height: 0;
    font-size: 0;
}

.notification-idp-timeout .notification-session-idp-button {
    width: 100%;
    text-align: end;
    position: absolute;
    right: 0.1em;
    top: 0.1em;
}

.notification-idp-timeout .notification-session-idp-button img {
    height: 1.5em;
}

.notification-timeout-idp .notification-session-message div {
    line-height: 1.2em
}

.notification-timeout-idp .notification-session-message div a {
    cursor: pointer;
}

@media screen and (max-width: 405px) {
    .personnal-message-list,
    .info-message-list,
    .error-message-list,
    .warning-message-list {
        padding-left: 1.45em;
        list-style: square;
    }
}