/**
 * Copyright ou © ou Copr. Ministère de l'Europe et des Affaires étrangères (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * Ce logiciel est un programme informatique servant à faciliter la création
 * d'applications Web conforémement aux référentiels généraux français : RGI, RGS et RGAA
 * <p/>
 * Ce logiciel est régi par la licence CeCILL soumise au droit français et
 * respectant les principes de diffusion des logiciels libres. Vous pouvez
 * utiliser, modifier et/ou redistribuer ce programme sous les conditions
 * de la licence CeCILL telle que diffusée par le CEA, le CNRS et l'INRIA
 * sur le site "http://www.cecill.info".
 * <p/>
 * En contrepartie de l'accessibilité au code source et des droits de copie,
 * de modification et de redistribution accordés par cette licence, il n'est
 * offert aux utilisateurs qu'une garantie limitée.  Pour les mêmes raisons,
 * seule une responsabilité restreinte pèse sur l'auteur du programme,  le
 * titulaire des droits patrimoniaux et les concédants successifs.
 * <p/>
 * A cet égard  l'attention de l'utilisateur est attirée sur les risques
 * associés au chargement,  à l'utilisation,  à la modification et/ou au
 * développement et à la reproduction du logiciel par l'utilisateur étant
 * donné sa spécificité de logiciel libre, qui peut le rendre complexe à
 * manipuler et qui le réserve donc à des développeurs et des professionnels
 * avertis possédant  des  connaissances  informatiques approfondies.  Les
 * utilisateurs sont donc invités à charger  et  tester  l'adéquation  du
 * logiciel à leurs besoins dans des conditions permettant d'assurer la
 * sécurité de leurs systèmes et ou de leurs données et, plus généralement,
 * à l'utiliser et l'exploiter dans les mêmes conditions de sécurité.
 * <p/>
 * Le fait que vous puissiez accéder à cet en-tête signifie que vous avez
 * pris connaissance de la licence CeCILL, et que vous en avez accepté les
 * termes.
 * <p/>
 * <p/>
 * Copyright or © or Copr. Ministry for Europe and Foreign Affairs (2017)
 * <p/>
 * pole-architecture.dga-dsi-psi@diplomatie.gouv.fr
 * <p/>
 * This software is a computer program whose purpose is to facilitate creation of
 * web application in accordance with french general repositories : RGI, RGS and RGAA.
 * <p/>
 * This software is governed by the CeCILL license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 * <p/>
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 * <p/>
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth copxmputer knowledge. Users are therefore
 * encouraged to load and test the pxsoftware's suitability as regards their
 * requirements in conditions enablpxing the security of their systems and/or
 * data to be ensured and,  more gepxnerally, to use and operate it in the
 * same conditions as regards securpxity.
 * <p/>
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL license and that you accept its terms.
 *
 */


/**
 * hornet-themes-intranet - Thème Hornet.js
 *
 * @author MEAE - Ministère de l'Europe et des Affaires étrangères
 * @version v5.2.3
 * @link git+https://github.com/diplomatiegouvfr/hornet-themes-intranet.git
 * @license CECILL-2.1
 */

.datatable-container {
    /*margin-top: 1.875em;*/
}

.datatable-content {
    background-color: #ffffff;
    border-radius: 0 0 0.375em 0.375em;
    box-shadow: 0 0.0625em 0.375em rgba(0, 0, 0, 0.12), 0 0.0625em 0.25em rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    /*font-family: Roboto,sans-serif;*/
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 100%;
    overflow-x: auto;
}

.datatable-data .autocomplete-selector {
    position: absolute;
}

.datatable-header-title {
    background-color: #0579be;
    box-sizing: border-box;
    box-shadow: 0 0.0625em 0.375em rgba(0, 0, 0, 0.12), 0 0.0625em 0.25em rgba(0, 0, 0, 0.40);
    display: flex;
    padding: 0 0.625em 0 1.5em;
    border-radius: 0.375em 0.375em 0 0;
    position: relative;
}

.datatable-title {
    width: 70%;
    word-wrap: break-word;
    overflow: hidden;
    color: white;
    flex: 1;
    word-break: break-word;
    -ms-word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.datatable-header-menu {
    padding-top: .3em;
    flex-direction: row;
}

.datatable-title-span {
    color: #ffffff;
    font-size: 1.25em;
    line-height: 2.3em;
    overflow: hidden;
    padding-right: 1em;
    position: relative;
    word-break: break-word;
    -ms-word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.datatable-caption {
    display: none;
}

table {
    background-color: #ffffff;
    border-spacing: 0;
}

.datatable-columns {
    background-color: #f4f4f4;
}

.datatable-columns-fixed {
    display: inline;
}

.datatable-header {
    background-color: #f4f4f4;
}

.datatale-columns-hidden {
    display: none;
}


/*Surchage Knacss*/

td,
th {
    border: none;
}

.datatable-data-fixed {
    display: inline;
    overflow-y: auto;
    height: 26em;
}

.table-header {
    color: #0579be;
    font-size: 0.75em;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 1.5em;
    text-overflow: ellipsis;
    /*padding-left: 1.5em;*/
    padding-right: 1.5em;
    position: relative;
}

.datatable-content table caption {
    visibility: hidden;
    height: 0em;
    margin: 0;
    padding: 0;
}

.table-header tr {
    border-bottom: 0.0625em solid #e0e0e0;
}

tr:hover td,
tr.datatable-line-selected td {
    background: #e2eff7;
}

table>thead>tr>th {
    height: 3.5em;
    font-size: 0.8125em;
    vertical-align: middle;
    text-overflow: ellipsis;
    margin-top: 0em;
    line-height: 2.2;
    font-family: "Roboto";
}

table>tbody>tr>td {
    height: 3.5em;
    overflow: hidden;
    font-size: 0.8125em;
    vertical-align: middle;
    text-overflow: ellipsis;
    margin-top: 0em;
    line-height: 2.2;
    font-family: "Roboto";
}

table>tbody>tr>td {
    white-space: nowrap;
}

table>thead.datatable-columns-disabled {
    pointer-events: none;
    cursor: not-allowed;
}

table>thead.datatable-columns>tr>th,
table>tbody.datatable-data>tr>td {
    display: table-cell;
}

table>tbody>tr>td.datatable-cell-in-edition {
    background: #e2eff7;
    box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.2);
    opacity: 1;
    filter: none;
}

table>thead.datatable-columns-fixed>tr>th,
table>tbody.datatable-data-pxfixed>tr>td {
    display: inline-block;
}

table>tbody>tr {
    border-bottom: 0.0625em solid #e0e0e0;
    color: #1c1c1c;
}

table-footer {
    height: 3em;
}


/**
    Pagination

**/

.datatable-pagination {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: flex-end;
    height: 3.5em;
}

.datatable-pagination-content {
    display: inline-block;
    margin: 1.125em 0;
    padding: 0.125em;
    position: relative;
    vertical-align: middle;
}

.datatable-pagination-button {
    -moz-user-select: none;
    align-items: center;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0.1875em;
    box-sizing: border-box;
    color: currentcolor;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 0.875em;
    font-style: inherit;
    font-variant: inherit;
    font-weight: 500;
    line-height: 2.25em;
    margin: 0.375em 0.5em;
    min-height: 2.25em;
    min-width: 5.5em;
    outline: 0 none;
    overflow: hidden;
    padding: 0 0.375em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    white-space: nowrap;
}

.datatable-pagination-button:focus {
    outline: #4D90FE solid 0.0625em;
}

.datatable-pagination-button-prev,
.datatable-pagination-button-next,
.datatable-pagination-button-prevpage,
.datatable-pagination-button-nextpage,
.datatable-pagination-button-firstpage,
.datatable-pagination-button-lastpage {
    border-radius: 50%;
    height: 2.5em;
    line-height: 1.5em;
    margin: 0 0.375em;
    min-width: 0;
    padding: 0 1em;
}

.datatable-pagination-button-prev,
.datatable-pagination-button-prevpage {
    background-position: 0.125em;
    background: transparent url("../img/tableau/ic_keyboard_arrow_left_black_24px.svg") center no-repeat;
}

.datatable-pagination-button-firstpage {
    background-position: 0.125em;
    background: transparent url("../img/tableau/ic_first_page_black_24px.svg") center no-repeat;
}

.datatable-pagination-button-next,
.datatable-pagination-button-nextpage {
    background-position: 0.125em;
    background: transparent url("../img/tableau/ic_keyboard_arrow_right_black_24px.svg") center no-repeat;
}

.datatable-pagination-button-lastpage {
    background-position: 0.125em;
    background: transparent url("../img/tableau/ic_last_page_black_24px.svg") center no-repeat;
}

.datatable-pagination-input {
    width: 3em;
    height: 1.5em;
    border: 0.0625em solid transparent;
    text-align: center;
}

.datatable-pagination-input:hover {
    border: 0.0625em solid #EEEEEE;
}

.datatable-pagination-input:invalid {
    box-shadow: none;
}

th {
    padding: 0;
}

th div {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 0.1em;
    padding-left: 0.3em;
}

th {
    padding: .3em .0em .3em .0em;
}

td {
    padding: .3em .1em .3em .8em;
}

.datatable-header-no-text-overflow {
    text-overflow: inherit;
}

.datatable-header-sort-liner {
    cursor: pointer;
}

.datatable-header-sort-liner .arrow-sort,
.datatable-header .arrow-sort {
    padding-bottom: 0.18em;
    transition: all 0.3s linear 0s;
    width: 1.125em;
    margin-left: 0.2em;
}

.datatable-header-sort-liner .arrow-sort-container {
    max-width: 80%;
    display: inline-block;
    float: left;
    word-break: break-word;
    -ms-word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin: .1em;
    text-decoration: underline;
    color: #0579be;
}

td:focus,
th > div:focus, th > div:hover {
    outline: #4D90FE solid 0.0625em;
 
}
.datatable-header-sort-liner:focus .arrow-sort-container, .datatable-header-sort-liner:hover .arrow-sort-container,
td:focus,
th > div:focus div {
    color: #000; 
}

.datatable-header-sortable-column img {
    color: rgba(0, 0, 0, 0.26);
    opacity: 0;
    transition: transform 0.25s ease 0s, opacity 0.25s ease 0s;
}

.datatable-header-sortable-column:hover img,
.datatable-header-sorted-asc img,
.datatable-header-sorted-desc img {
    opacity: 1;
}

td.datatable-cell.default-body-cell {
    min-width: 1.125em;
    padding: .2em 0em .2em .8em;
}

.label-button-action {
    padding-left: 0.2em;
    font-size: 0.9em;
    color: black;
}

.datatable-pagination .button-action .label {
    color: black
}

.menu-priority-container {
    float: left;
    margin-right: 0.1em;
}

.menu-contextuel-container {
    float: right;
}

.dropdown-container.menu-contextuel .dropdown-content {
    background-color: #f4f4f4;
}

.dropdown-container.menu-contextuel .dropdown-content .dropdown-list {
    padding-left: 0em;
}

.dropdown-container.menu-contextuel .dropdown-content .dropdown-list li {
    background-color: #f4f4f4;
}

.dropdown-container.menu-contextuel .dropdown-content .dropdown-list li:hover,
.dropdown-container.menu-contextuel .dropdown-content .dropdown-list li:focus {
    background-color: #e2eff7;
}

.menu-priority-content>ul {
    list-style: outside none none;
    padding-left: 0;
    display: flex;
}

.menu-priority-content>ul>li .button-info-accessibilite button.button-info-accessibilite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: auto;
    position: relative;
    padding: .4em;
}

.menu-priority-content-action>a {
    padding: .4em;
    display: block;
}

.datatable-line-loader {
    margin-bottom: 0em;
    line-height: 0em;
}

.datatable-line-loader th {
    padding: 0;
    background-color: #f4f4f4;
}

.datatable-line-loader th div {
    height: 0.25em;
    padding: 0;
}

.datatable-loader {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

.datatable-loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -12.5em;
    width: 12.5em;
    height: 0.25em;
    background-color: #0579be;
    animation: loading 2s linear infinite;
}

.datatable-cell .button-action img,
.datatable-cell .edition-button-action img {
    width: 1.5em;
    font-size: 1.4em;
}

.datatable-cell a.button-action {
    display: inline-block;
    height: 100%;
}

.datatable-cell a.button-action:hover .datatable-cell a.button-action:focus {
    outline: #4D90FE solid 0.0625em;
}

.edition-button-action {
    border: none;
    background: none;
    padding: 0 .5em;
    cursor: pointer;
}

.edition-button-action-before img {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    height: 1.5em;
}

.hidden-label {
    display: none;
}

a.edition-button-action-before img:hover {
    outline: #4D90FE solid 0.0625em;
}

.edition-button-action:hover,
.edition-button-action:focus {
    outline: #4D90FE solid 0.0625em;
}

@keyframes loading {
    from {
        left: -12.5em;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

.datatable-content table {
    margin-bottom: 0;
    border-right: none;
}

.datatable-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.5;
    bottom: 0;
    right: 0;
    z-index: 4;
    pointer-events: none;
}

.table-cell-input {
    padding: 0 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    min-width: 0;
    height: 2.2em;
}

.table-cell-container {
    min-width: 0;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .datatable-title-span {
        line-height: 1.5;
    }
    .datatable-title {
        overflow: hidden;
        white-space: inherit;
    }
    .datatable-header-title {
        height: auto;
        flex-direction: row;
    }
    .datatable-cell .button-action img,
    .datatable-cell .edition-button-action img {
        width: 1.5em;
    }
}

.datatable-masked {
    display: none;
}

is_disabled {
    cursor: none;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.table-spinner-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #F7F7F7 8%, #EDEDED 18%, #F7F7F7 33%);
    background-size: 800px 104px;
    min-height: 310px;
    position: relative;
}

.table-spinner-cell {
    border: 0.625em solid white;
    height: 100%;
    width: 100%;
    line-height: 1.2;
    color: transparent;
}

.td-no-padding {
    padding: 0 !important;
}

.datatable-expandable-line td:hover {
    background-color: transparent;
}

.datatable-expandable-line.datatable-expandable-line-hidden {
    display: none;
}

.datatable-expandable-line.datatable-expandable-line-displayed {
    display: table-row;
    background-color: #fafafa;
}

.table-cell-container .input-reset {
    margin: -.1em -2em;
}

.table-cell-input {
    padding: 0.5em 2em 0.5em 1em;
}

.badge-checkbox-all {
    position: relative
}

.badge-selected-items-before::before {
    align-content: center;
    align-items: center;
    background: #ff4081 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    content: attr(data-badge);
    display: flex;
    flex-flow: row wrap;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    height: 1.8em;
    justify-content: center;
    position: absolute;
    left: -0.625em;
    top: -0.5625em;
    width: 1.8em;
}

.card-content-title {
    color: rgba(0, 0, 0, 0.87);
    cursor: default;
    font-family: NotoSansUI-Regular;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.04em;
}

.card-content-list-item {
    font-size: 0.875em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5em;
    padding: 0;
    font-family: NotoSansUI-Regular;
    color: #232425;
}

tr.datatable-line-selected td[disabled] {
    opacity: 1;
    filter: none;
    -webkit-filter: none;
    background: #e2eff7;
    box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.2);
}

tr.datatable-line-selected td.datatable-cell-in-edition a img {
    opacity: .5;
    filter: grayscale(1);
}

.arrow-sort-container:hover, .arrow-sort-container:focus {
    color: #000;
}

.datatable-pagination-input-label {
    position: fixed;
    left: -5000px
}

.datatable-cell-custom-idMore {
    white-space:inherit;
}