.hornet-autocomplete {
    position: absolute;
    z-index: 1;
    min-width: 12.25em;
}

.hornet-autocomplete-hidden {
    display:none;
}

.hornet-autocomplete .hornet-autocomplete-list {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.hornet-autocomplete .hornet-autocomplete-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #afafaf;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
}
.hornet-autocomplete .hornet-autocomplete-item {
    padding: 0.5em;
}

.hornet-autocomplete .hornet-autocomplete-item:hover {
    background: none repeat scroll 0 0 #bfdaff;
    cursor: pointer;
}

.hornet-autocomplete .hornet-autocomplete-item-active {
    background: none repeat scroll 0 0 #2647a0;
    color: #fff;
    outline: 0 none;
}