.fil-ariane {
    margin: 0;
    padding-left: .4em;
    font-size: 1.125em;
}

.fil-ariane ul {
    list-style: outside none none;
    padding: 0;
}

.fil-ariane li {
    float: left;
    line-height: 2.3em;
    margin: 0;
    text-indent: 0.1em !important;
}

.fil-ariane-racine{
    margin-right: 0.2em;
}

.fil-ariane-courant{
    margin-right: 0.2em;
}

.fil-ariane-parent{
    margin-right: 0.2em;
    color: #044ca0;
}


.fil-ariane strong {
    color: inherit;
    font-weight: normal;
}

.fil-ariane-chevron {
	margin-right: 0.2em;
    color: #044ca0;
}

.fil-ariane-chevron::after {
    content: ">";
}

.fil-ariane a {
    color: #007ba7;
    text-decoration:none;
}

