/*!
MAEDI
*/

.hornet-form{

}

.formRecherche {
    border: 1px solid #ced0d1;
}

.formRecherche h1, h1.recherche {
    background: url("../img/sprite-global.png") repeat-x scroll 0 -609px #007ba7;
    border-top: 4px solid #007ba7;
    color: #044ca0;
    font-size: 130%;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.2em 0.2em 0.2em 0.33em;
}

/* Sous-titre de formulaire */
.formRecherche .sousTitreForm {
    background: url("../img/sprite-global.png") repeat-x scroll 0 -609px #007ba7;
    border-top: 4px solid #007ba7;
    color: #044ca0;
    font-size: 130%;
    font-weight: normal;
    line-height: inherit;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.2em 0.2em 0.2em 0.33em;
}

.form .texte, .formRecherche .texte {
    margin-bottom: 0;
    padding: 0.5em;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea, select {
    height: auto;
    padding: 2px;
    vertical-align: middle !important;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover, select:hover, input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="number"]:hover,
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="number"]:focus{
    border-color: #044ca0;
    color: #044ca0;
}

input[type="file"]{
    margin: 4px 0;
    padding: 2px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"],  textarea, select {
    border: 1px solid #b7cbe0;
    color: #044ca0;
    margin: 4px 0;
    padding: 2px;
    /*vertical-align: top;*/
    width: auto;
    font-size:100%
}

select[multiple] {
    width: 100%;
    height: 100%;
}


select, input, button, textarea {
    font: 99% arial, helvetica, clean, sans-serif;
}

/* Conteneur de libellé de champ */
.blocLabel {
    /* Alignement en bas, car le bloc champ peut être surmonté d'un message d'erreur */
    vertical-align: bottom;
}

.blocLabel label {
    padding-bottom: .4em;
}

.blocLabelUp {
    vertical-align: top;
}

label, .label, input[type="radio"], input[type="email"], input[type="text"], input[type="password"], input[type="number"], textarea, select {
    /*margin-left: 0.5em;*/
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
    max-width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select {
    max-width: 100%;
}

.readonly input[type="email"], .readonly input[type="checkbox"], .readonly input[type="radio"], .readonly input[type="text"], .readonly input[type="password"], .readonly input[type="number"], .readonly textarea, .readonly select {
    background-color: #efefef;
    color: #044ca0;
}


.grid-form-field ul li {
    list-style: outside none none ;
}

#bd .grid-form-field ul li:not([role="treeitem"]):not([role="presentation"]):not([role="tab"]):before {
    /*supprime le style ul et li placés dans hornet.css*/
    padding-right:0em;
    list-style: none ;
    content: none;
}

.grid-form-field ul li label{
    text-align: left;
}

.grid-form-field input[type="checkbox"] {
    margin-top: 1em;
}

label {
    color: inherit;
    display: block;
    padding: 2px 20px 0 0;
    text-align: right;
    background-color: inherit;
    margin: 5px 0;
}

#bd label span {
    color: inherit;
    font-family: lato;
    background-color: inherit;
}

input + label {
    color: #044ca0;
    font-family: lato;
}

fieldset.groupeChamps > legend, .groupeChamps .titleGroupeChamps {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #b7cbe0;
    color: #044ca0;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: 1.125em;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: italic;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    min-width: 100%;
    text-indent: 16px;
}
label span:not([class="inputLabel"]) {
    color: inherit;
    background-color: inherit;
}
.grid-form-field ul {
    margin: 0 0 1em 2em;
}

/* border radius for radio*/
input[type="radio"] {
    -webkit-border-radius:100%;
    border-radius:100%;
}

/* border radius for checkbox */
input[type="checkbox"] {
    -webkit-border-radius:2px;
    border-radius:2px;
}

/* hover state */
input[type="radio"]:not(:disabled):hover,
input[type="checkbox"]:not(:disabled):hover {
    border-color:rgba(0,0,0,0.5);
    box-shadow:inset 1px 1px 0 #fff, 0 0 4px rgba(0,0,0,0.3);
}

/* active state */
input[type="radio"]:active:not(:disabled),
input[type="checkbox"]:active:not(:disabled) {
    background-image: -webkit-linear-gradient(#C2C2C2, #EFEFEF);
    box-shadow:inset 1px 1px 0 rgba(0,0,0,0.2), inset -1px -1px 0 rgba(255,255,255,0.6);
    border-color:rgba(0,0,0,0.5);
}

/* focus state */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline:none;
    box-shadow: 0 0 1px 2px rgba(0, 240, 255, 0.4);
}

fieldset.hornet-fieldset legend{
    color: #777;
    margin: 1em 0;
    font-weight: 600;
    font-size: 140% !important;
}

.inputLabel {
    background-color: inherit;
    color: inherit;
}

/* Préfixe éventuel affiché entre un libellé et son champ de formulaire */
.field-prefix {
    margin-right: 0.3em;
    vertical-align: middle;
}

/* Suffixe éventuel (par exemple une unité) affiché après un champ de formulaire */
.field-suffix {
    margin-left: 0.3em;
    vertical-align: middle;
}

.formmgr-message-text {
    color: #FF0000;
}