
.icon * {
    background-color: inherit;
    border: 0 none;
    color: inherit;
    display: inline-block;
    margin: 0;
    padding: .24em;
    text-align: center;
    vertical-align: middle;
}

.icon {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 0.3em;
}
