
.hornet-datatable {
    position: relative;
}

/*************************************** CAPTION ***************************************/
.hornet-datatable-caption {
    display:none;
}

/*************************************** HEADER ***************************************/

.hornet-datatable-header{

}

.hornet-datatable-header-select > *{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.hornet-datatable-header-sort-liner {
    cursor: pointer;
    outline: 0 none;
    text-decoration: underline;
}

.hornet-datatable-header-sorted{

}

.hornet-datatable-header-sorted-desc .hornet-datatable-header-sort-liner {
    background: url("../img/tableau/hornet_dt-arrow-dn.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.hornet-datatable-header-sorted-asc .hornet-datatable-header-sort-liner {
    background: url("../img/tableau/hornet_dt-arrow-up.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}


/*************************************** FILTER ***************************************/

.hornet-datatable-filter {
    border-color: #ced0d1;
    border-style: solid solid none;
    border-width: .1em .1em 0;
    padding-bottom: 0.5em;
}

/*************************************** CONTENT ***************************************/

.hornet-datatable-content table {
    border: 1px solid #ced0d1;
    border-collapse: separate;
    border-spacing: 0;
    font-family: lato;
    font-size: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hornet-datatable-content th {
    background: url("../img/sprite-global.png") repeat-x scroll 0 -211px #d8d8da;
    border-color: #adcbe6;
    border-image: none;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    color: #044ca0;
    font-weight: 600;
    margin: 0;
    text-align: left;
    text-decoration: none;
    vertical-align: bottom;
    white-space: nowrap;
}

.hornet-datatable-content th a, .hornet-datatable-content th{
    color: #044ca0 !important;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
}

.hornet-datatable-content td {
    border-color: #adcbe6;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
}



/*************************************** COLUMN - LINE ***************************************/

.hornet-datatable-selectedItems *{
    background-color: #D6E1F1 !important;
}

.hornet-datatable-cell-custom * {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.hornet-datatable-cell-select > *{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.hornet-datatable-even {
    background-color: #fff;
}

.hornet-datatable-odd {
    background-color: #edf5ff;
}

.hornet-datatable-even .hornet-datatable-sorted, .hornet-datatable-even .hornet-datatable-sorted-desc {
    background-color: #edf5ff;
}

.hornet-datatable-odd .hornet-datatable-sorted, .hornet-datatable-odd .hornet-datatable-sorted-desc {
    background-color: #dbeaff;
}


/*************************************** EMPTY CONTENT ***************************************/

.hornet-datatable-message-content{

}

.hornet-datatable-title {
    background: url("../img/sprite-global.png") repeat-x scroll 0 -218px #044ca0;
    border-color: #007ba7 #ced0d1 #ced0d1;
    border-style: solid;
    border-width: .3em .1em .1em .1em;
    color: #044ca0;
    font-size: 130%;
    font-weight: 600;
    padding: 0.2em;
}

.hornet-datatable-title > * {
    font-size: inherit;
    margin: 0;
}

/*************************************** Filters ***************************************/

.hornet-datatable-filter-button{

}

.hornet-datatable-filter-button-show-active {
    background: none repeat scroll 0 0 #8ed77a !important;
}

.hornet-datatable-filter-button-show-hidden:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    bottom: -.10em;
    content: "";
    float: right;
    position: relative;
    right: -.3em;
    width: 0;
    height: 0;
}

.hornet-datatable-filter-button-show-visible:after {
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: -.2em;
    content: "";
    float: right;
    position: relative;
    right: -.3em;
    width: 0;
    height: 0;
}


/*************************************** TOP & BOTTOM ***************************************/

.hornet-datatable-top,
.hornet-datatable-bottom {
    background-color: #EDEDED;
    border-color: #ced0d1;
    border-style: solid;
    border-width: 0 .1em .1em .1em;
    min-height: 2.55em;
}

/*************************************** ACTION  BUTTON ***************************************/

.hornet-datatable-action > * {
    display: inline-flex;
    border-color: #999;
    border-style: solid;
    border-width: .1em;
    margin: .1em .4em 0;
    padding: .4em;
    box-shadow: 2px 2px 1px #aaa;
    vertical-align: middle;
}

.hornet-datatable-action img {
    display: block;
}


/*************************************** EXPORT ***************************************/

.hornet-datatable-export {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    border-color: #cbcbcb;
    white-space: nowrap;
    border-color: #cbcbcb;
    text-align: center;
}

/*************************************** PAGINATION ***************************************/

.hornet-datatable-pagination {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    border-color: #cbcbcb;
    white-space: nowrap;
    border-color: #cbcbcb;
    text-align: center;
}

.hornet-datatable-pagination label {
    display: inline-block;
}

.hornet-datatable-pagination-controls {
    padding: .3em 0;
}

.hornet-datatable-pagination-control {
    zoom: 1;
    margin: 0 3px;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 3px;
    background: none repeat scroll 0 0 transparent;
}

.hornet-datatable-pagination-select-index{

}

.hornet-datatable-pagination-select-index select {
    margin-top: .1em;
}

.hornet-datatable-pagination-per-page {

}

.hornet-datatable-pagination-per-page select {
    margin-top: .1em;
}


.hornet-datatable-pagination-control-first:hover,
.hornet-datatable-pagination-control-last:hover,
.hornet-datatable-pagination-control-prev:hover,
.hornet-datatable-pagination-control-next:hover {
    box-shadow: 0 .1em .2em #292442;
}

.hornet-datatable-pagination-control-disabled,
.hornet-datatable-pagination-control-disabled:hover {
    border-color: transparent;
    box-shadow: none;
    color: #bdc7db !important;
}

.hornet-datatable-pagination-control-disabled,
.hornet-datatable-pagination-control-disabled:hover {
    color: #bdc7db !important;
    text-decoration: none;
    cursor: default;
}

.hornet-datatable-pagination-control-enabled,
.hornet-datatable-pagination-control-enabled:hover {
    text-decoration: none;
    cursor: pointer;
}

.hornet-datatable-pagination-control-enabled,
.hornet-datatable-pagination-control-enabled:hover {
    text-decoration: none;
    cursor: pointer;
}
