
/* BEGIN ONGLETS */

.hornet-tabview-list {
    border-color: #ced0d1;
    border-image: none;
    border-style: solid;
    border-width: 0 0 8px;
    margin: 0;
}


.hornet-tab {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 0.2em 0 0;
    padding: 1px 0 0;
}

.hornet-tab-label {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    border-color: #ced0d1;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #007ba7;
    font-size: 107%;
    padding: 0.4em 0.75em;
}

.hornet-tab-label:hover, .hornet-tab-label:focus {
    background: none repeat scroll 0 0 #fff;
    color: #044ca0;
    outline: 0 none;
}

.hornet-tab-selected {
    margin-bottom: -1px;
}

.hornet-tab-selected .hornet-tab-label, .hornet-tab-selected .hornet-tab-label:focus, .hornet-tab-selected .hornet-tab-label:hover {
    background-color: #007ba7;
    color: #fff !important;
}

.hornet-tabview-panel {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ced0d1;
    padding: 1em;
}

.hornet-tab-panel {
    display: none;
}

.hornet-tab-panel-selected {
    display: block;
}

/* END ONGLETS */