/*!
MAEDI
*/

body {
    font-family: sans-serif;
    font-size: 12px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body, p, li, a, section h1, h2, h3, h4, h5, label, .label, button, blockquote {
    font-family: lato;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0 none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: outside none none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: "";
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

h1 {
    font-size: 138.5%;
}

h3 {
    font-size: 108%;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

blockquote, ul, ol, dl {
    margin: 1em;
}

ol, ul, dl {
    margin-left: 2em;
}

ol {
    list-style: outside none decimal;
}

dd {
    margin-left: 1em;
}

th, td {
    border: 1px solid #000;
    margin: 0;
    padding: .3em .5em;
}

th {
    text-align: center;
}

caption {
    margin-bottom: 0.5em;
    text-align: center;
}

p, fieldset, table, pre {
    margin-bottom: 1em;
}


pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
}


a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h2 {
    font-size: 3.125em;
    color: #007ba7;
    width: 100%;
    font-family: 'exo_2';
    font-weight: 400;
    border-bottom: 2px solid #007ba7;
    margin: .1em 0 .5em;
    line-height: 1;
    padding-bottom: .30em;
}

h3 {
    color: #007ba7;
    font-size: 146%;
    margin: 0.5em 0;
}

h4 {
    color: #5E5E5E;
    font-size: 140%;
    margin: 1em 0;
}

h5 {
    border-bottom: 1px solid #cacaca;
    font-size: 134%;
    margin: 1em 0;
}

h6 {
    font-size: 128%;
    font-style: italic;
    margin: 1em 0;
}

.messageBox a:not(.hornet-button):not([role="tab"]) {
    color: #007ba7;
}

.messageBox ul li:not([role="treeitem"]):not([role="presentation"]):not([role="tab"]):before {
    color: #007ba7;
    content: "■ ";
    padding-right: 0.4em;
}

.messageBox ul li:not([role="treeitem"]):not([role="presentation"]):not([role="tab"]):not(.fil-ariane-racine):not(.fil-ariane-parent):not(.fil-ariane-chevron):not(.hornet-autocomplete-item) {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-indent: -1.1em;
}

#bd a:not(.hornet-button):not([role="tab"]) {
    color: #007ba7;
}

#bd ul li:not([role="treeitem"]):not([role="presentation"]):not([role="tab"]):before {
    color: #007ba7;
    content: "■ ";
    padding-right: 0.4em;
}

#bd ul li:not([role="treeitem"]):not([role="presentation"]):not([role="tab"]):not(.fil-ariane-racine):not(.fil-ariane-parent):not(.fil-ariane-chevron):not(.hornet-autocomplete-item) {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-indent: -1.1em;
}

#bd {
    border: 1px solid #ced0d1;
    margin: 0.5em 0 1em;
    padding: 1.25em;
    clear: both;
}

#footer {
    background-color: #3f4648;
    color: #fff;
    font-size: 130%;
    line-height: 1;
}

#footer p {
    padding: 1em 0 0 1em;
}

#bd p, #bd li, #bd label, #bd .label, #bd blockquote, #bd legend:not[class="groupeChamps"] {
    background-color: inherit;
    color: inherit;
}

p.texte {
    text-align: justify;
}

p, fieldset, table, pre {
    margin-bottom: 1em;
}

button {
    cursor: pointer;
}

/* BEGIN BUTTONS */
.button-group {
    margin: 0.5em 0;
    text-align: center;
}

.hornet-button {
    -moz-user-select: none;
    background-color: #e6e6e6;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15) 40%, transparent);
    border: medium none rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    line-height: normal;
    padding: 0.4em 1em 0.45em;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.1s linear 0s;
    vertical-align: baseline;
    white-space: nowrap;
}

button.hornet-button, a.hornet-button, a.hornet-button:visited {
    color: #fff;
    line-height: 2;
    min-height: 2em;
    padding: 0 10px;
}

.hornet-button {
    -moz-user-select: none;
    background-color: #007ba7;
    background-image: none;
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    margin: auto 0.25em;
    min-height: 2em;
    padding: 0 10px;
    white-space: nowrap;
}

.hornet-button:focus, .hornet-button:hover {
    background: none repeat scroll 0 0 #fff;
    color: #044ca0 !important;
    font-weight: 400;
}

a.hornet-button, a.hornet-button:visited {
    color: #fff;
    line-height: 2;
    min-height: 2em;
    padding: 0 10px;
}

/* END BUTTONS */

.form .texte, .texte {
    margin-bottom: 0;
    padding: 0.5em;
}

p.texte {
    text-align: justify;
}
legend {
    color: #000;
}

.groupeChamps {
    background: none repeat scroll 0 0 #edf5ff;
    border-bottom: 1px solid #b7cbe0;
    margin-top: 0.5em;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea, select {
    height: auto;
    padding: .48em;
    vertical-align: middle !important;
}

#app {
    margin: 0 auto;
    max-width: 83.334em;
}

.none, .js-disabled-hidden {
    display: none !important;
}

.hidden {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

fieldset.inline {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
}

#cssmenu-container ul li#cssmenu ul li {
    border-right: 1px solid #ced0d1;
}

.groupeChamps fieldset.inline > legend, .groupeChamps fieldset.inline > legend:after, .groupeChamps fieldset.inline > legend:before, fieldset.inline > legend {
    background: inherit;
    border: 0 none;
    color: inherit;
    display: inline-block;
    float: left;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: 100%;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: normal;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: normal;
    line-height: inherit;
    min-width: 0;
    position: inherit;
    text-indent: 0;
    white-space: normal;
}

.groupeChamps .groupeChamps {
    margin-left: 10px;
}

label .required, .label .required {
    display: inline-block;
    width: 0.5em;
}




input[type="radio"] + label, input[type="checkbox"] + label {
    display: inline;
}

.liste-radio-inline > div {
    display: inline;
}


.gm-style-iw div {
    overflow: visible !important;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}

.container:after {
    clear: both;
}

p.discret {
    color: #666;
}

ul.style1 {
    margin: 0.5em;
}

ul.style1 li {
    background: url("assets/charte/puce_bleue.png") no-repeat scroll 1em 0.3em rgba(0, 0, 0, 0);
    list-style: outside none none;
    margin-bottom: 0.5em;
    padding: 0 2.2em;
}

#logout-container {
    float: right;
}

a.hornet-button:hover, a.hornet-button:focus {
    text-decoration:none;
}

svg a:hover {
    text-decoration: none;
}

nav{
    clear:both;
}